* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


.card {
    font-family: arial;
    /* ;
    border: 1px solid black; */
    width: 400px;
    height: 150px;
    display: flex;
    flex-flow: column wrap;
    padding: 17px;
    /* align-items: flex-start; */
    margin: auto;
    margin-top: 50px;
    border-radius: 5px;
    box-shadow: 0px -4px 29px 6px rgba(217, 217, 217, 1);

}

.card h4 {
    margin-top: 5px;
    
}

.card p {
    margin-top: 15px;
    line-height: 1.5;
    color: rgb(101, 101, 101)
}